doctype html
html
  head
    title="webRTCDemo"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/webrtc.io.js")
    script(src="/scripts/index.js")
  body
    h1="这也不是个空白页面"
    video#remote(autoplay="autoplay")
    video#local(autoplay="autoplay")