doctype html
html
  head
    title="webRTCDemo"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/webrtc.io.js")
    script(src="/scripts/index.js")
  body
    video#remote(autoplay="autoplay")