doctype html

html(ng-app="closeeye")
	head
		script(src="/scripts/jquery-2.1.4.min.js")
		script(src="/scripts/angular.min.js")
		script(src="/scripts/ui-bootstrap-tpls-0.13.2.min.js")
		script(src="/scripts/socket.io.js")
		script(src="/scripts/closeEyeCtrl.js")
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
	body
		.container(ng-controller="gameCtrl")
