doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://jwpsrv.com/library/mq1tRDyJEeSfGyIACtqXBA.js')
  body(onload='setVolume()'')
    block content
    script(src='/scripts/RTMPPlayerSetup.js')